<div><%= image_tag("Money-512.png", size: "50x50") %></div>
<h2>Welcome to VIYA Bank</h2>
<br>
<br>
<br>
<br>

<% if user_signed_in? %>
  <% if current_user.try(:user?) %>
    <p> Here are some things you can do:</p>
    <ul>
      <li> Edit your <%= link_to 'Profile', edit_user_registration_path %> </li>
      <li>Set up an <%= link_to 'Account', user_path(current_user) %></li>
      </ul>
  <% end %>
<% end %>